@model List<Film>

@{
    ViewData["Title"] = "Films";
}

<h1>Films</h1>

<p>
    <a asp-action="CreateFilm" class="btn btn-primary">Добавить фильм</a>
</p>
<form method="get" asp-action="Index">
    <input type="text" name="searchQuery" value="@ViewData["SearchQuery"]" placeholder="Введите название фильма" />
    <button type="submit">Поиск</button>
</form>
@foreach (var item in Model)
{
    <div class="movie-container">
        <div class="movie-poster">
            <img src="@item.PosterUrl" alt="Постер фильма">
        </div>
        <div class="movie-info">
            <h2>@item.Title (@item.Year)</h2>
            <p><strong>Жанр:</strong> @item.Genre</p>
            <p>@item.Description</p>
        </div>
        <div class="movie-actions">
            <a href="@item.TrailerUrl" target="_blank" class="btn btn-secondary">Смотреть трейлер</a>
            <a asp-action="AddToFavorites" asp-controller="Favorites" asp-route-id="@item.Id" class="btn btn-success">Добавить в избранное</a>
        </div>
    </div>
}



